* {.
    border: 0px;
    margin: 1px;
    padding: 0.3px;    
    font-family: Inconsolata, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #2b2a33;  
    color: #8696fd;    
    border-radius: 20px; //kind of buggy, remove if you don't like it
}

entry {
    background-color: #2b2a33;  
    color: #8696fd;
    border: 0;
    padding: 0;    
}

listview {
    background-color: #2b2a33; 
    color: #8696fd;
    border: 0;
    padding: 0;
}

listview:selected {
    background-color: #2b3a33; 
    color: #fe81b5;             
}
