* {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Inconsolata, sans-serif;
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #249afe;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}
 
#workspaces {
    background: #2b2a33;
    color: #249afe;
    margin-left: 15px;
    border-radius: 20px;
} 

#workspaces button {
    background: #2b2a33;
    color: #249afe;
    padding: 5px;
    font-weight: normal;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button.active {
    color: #0f63b3;
}

#workspaces button.urgent {
    color: #811dd7;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #249afe;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#custom-layout,
#custom-updater,
#custom-snip,
#taskbar,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #249afe;
}

#window,
#workspaces {
    margin: 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {
    background-color: #2b2a33;
    color: #249afe;
    border-radius: 0px 20px 20px 0px;
    margin-right: 4px;

}

#battery {
    background-color: #2b2a33;
    color: #249afe;
}

#battery.charging, #battery.plugged {
    color: #249afe;
    background-color: #2b2a33;
}

@keyframes blink {
    to {
        background-color: #2b2a33;
        color: #249afe;
    }
}

#battery.critical:not(.charging) {
    background-color: #2b2a33;
    color: #249afe;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #2b2a33;
}

#cpu {
    background-color: #2b2a33;
    color: #249afe;
    border-radius: 0px 0px 0px 0px
}

#memory {
    background-color: #2b2a33;
    color: #249afe;
    border-radius: 0px 20px 20px 0px
}

#network {
    background-color: #2b2a33;
    color: #249afe;
    border-radius: 20px 0px 0px 20px

}

#network.disconnected {
    background-color: #2b2a33;
    color: #811dd7;
}

#pulseaudio {
    background-color: #2b2a33;
    color: #249afe;
    border-radius: 20px 0px 0px 20px
}

#pulseaudio.muted {
    background-color: #2b2a33;
    color: #811dd7;
}

#custom-power{
    background-color: #2b2a33;
    color: #0f63b3;
    font-size: 18px;
    border-radius: 20px;
    margin-left: 5px;
}

#custom-launcher{
    background-color: #2b2a33;
    font-size: 25px;
    border-radius: 20px;
    margin-right: 10px;
}

#custom-updater {
    background-color: #2b2a33;
    color: #249afe;
}

#custom-snip {
    background-color: #2b2a33;
    color: #249afe;
    font-size: 20px;
}

#custom-layout{
    background-color: #2b2a33;
    color: #249afe;
    font-size: 18px;
    border-radius: 20px 0px 0px 20px;
}

#taskbar {
    background-color: #2b2a33;
    border-radius: 20px;
}

#taskbar :hover {
    background-color: #2b2a33;
}

#temperature {
    background-color: #2b2a33;
    color: #249afe;
    border-radius: 0px 20px 20px 0px;
}

#temperature.critical {
    background-color: #2b2a33;
}

#tray {
    background-color: #2b2a33;
    color: #249afe;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #2b2a33;
    color: #249afe;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #2b2a33;
    color: #249afe;
}

#language {
    background-color: #2b2a33;
    color: #249afe;
    min-width: 16px;
    padding-left : 8px;
    border-radius: 20px 0px 0px 20px;
}

#keyboard-state {
    background: #2b2a33;
    color: #249afe;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0px 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
