* {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Inconsolata, sans-serif;
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #95D5B2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background: #2b2a33;
    color: #95D5B2;
    margin-left: 15px;
    border-radius: 20px;
} 

#workspaces :active {
    color: #25d0b4;
}

#workspaces button {
    background: #2b2a33;
    color: #95D5B2;
    padding: 5px;
    font-weight: normal;
}

#workspaces button.active {
    color: #40916C;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #2b2a33;
}

#workspaces button.focused {
    background: #2b2a33;
    color: #25d0b4;
}

#workspaces button.focused:hover {
    background-color: #2b2a33;
    color: #95D5B2;

}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #95D5B2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#custom-layout,
#custom-updater,
#custom-snip,
#taskbar,
#tray,
#mode,
#idle_inhibitor,
#mpd
#window,
#workspaces

#clock {
    background-color: #2b2a33;
    color: #95D5B2;
    border-radius: 0px 20px 20px 0px;
    margin-right: 4px;

}

label:focus {
    background-color: #2b2a33;
}

#cpu {
    background-color: #2b2a33;
    color: #95D5B2;
    border-radius: 0px 0px 0px 0px
}

#memory {
    background-color: #2b2a33;
    color: #95D5B2;
    border-radius: 0px 20px 20px 0px
}

#network {
    background-color: #2b2a33;
    color: #95D5B2;
    border-radius: 20px 0px 0px 20px

}

#network.disconnected {
    background-color: #2b2a33;
    color: red;
}

#pulseaudio {
    background-color: #2b2a33;
    color: #95D5B2;
    border-radius: 20px 0px 0px 20px
}

#pulseaudio.muted {
    background-color: #2b2a33;
    color: red;
}

#custom-power{
    background-color: #2b2a33;
    font-size: 18px;
    border-radius: 20px;
    margin-left: 5px;
}

#custom-launcher{
    background-color: #2b2a33;
    font-size: 25px;
    border-radius: 20px;
    margin-right: 10px;
}

#taskbar {
    background-color: #2b2a33;
    border-radius: 20px;
}

#taskbar :hover {
    background-color: #2b2a33;
}

#temperature {
    background-color: #2b2a33;
    color: #95D5B2;
    border-radius: 0px 20px 20px 0px;
}

#temperature.critical {
    background-color: #2b2a33;
}

#tray {
    background-color: #2b2a33;
    color: #95D5B2;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #2b2a33;
    color: #95D5B2;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #2b2a33;
    color: #95D5B2;
}
